html {
    background-color: #f3faf4;
}

#layoutExternal {
    position: relative;
    height: 100vh;
    background-image: url('../assets/SVGs/OneKcal_Illus_Home.svg');
    overflow: visible;
    background-position: center;
    background-position-x: 64px;
    background-repeat: no-repeat;
    animation-name: home_BG;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-delay: 0ms !important;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation-duration: 3s !important;
}

.show {
    color: black;
    animation-name: fade_shrink;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-delay: 0ms !important;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation-duration: 3s !important;
}
.hide {
    display: none !important;
    right: -64px;
}

#home {
    /* overflow-y: hidden; */
}

#home h1 {
    animation-name: home_h1;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-delay: 0ms !important;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation-duration: 5s !important;
}

@keyframes fade_shrink {
    from {
        font-size: 40px;
        opacity: 1;
        right: -64px;
    }
    to {
        font-size: 32px;
        opacity: 0;
        display: none;
        right: -24px;
        top: -2px;
    }
}

@keyframes home_BG {
    from {
        background-position-x: -128px;
        background-size: 10%;
    }
    to {
        background-size: 60%;
        background-position-x: center;
    }
}

@keyframes home_h1 {
    from {
        transform: translateX(-800px);
        font-size: small;
    }
    25% {
        /* font-size: medium; */
        transform: translateX(0px);
        font-size: medium;
    }
    50% {
    }
    to {
        transform: translateY(-256px);
    }
}
.cursor-pointer {
    cursor: pointer;
}

.main-CTA {
    font-size: 36px;
    padding: 16px 32px;
    box-shadow: 0px 8px 32px rgba(17, 203, 95, 0.4);
    border-radius: 40px;
    opacity: 0;
    display: block;
    border: none;
    background-color: #11cb5f;
    margin: auto;
    animation-name: home_CTA;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-delay: 2.5s !important;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation-duration: 2.5s !important;
}

@keyframes home_CTA {
    from {
        transform: translateY(64px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-64px);
    }
}
